<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="se.su.dsv.scipro.android"
      android:versionCode="6"
      android:versionName="0.2">
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="7" />


    <application android:name="SciProApplication" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="se.su.dsv.scipro.android.activity.SciProTabWidget" android:label="@string/app_name"
        	android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="se.su.dsv.scipro.android.activity.SupervisorHome" android:label="@string/app_name"></activity>
		<activity android:name="se.su.dsv.scipro.android.activity.NewMessage" android:label="@string/app_name"></activity>
		<activity android:name="se.su.dsv.scipro.android.Preferences" android:label="@string/app_name"></activity>
		<activity android:name="se.su.dsv.scipro.android.activity.ProjectView" android:label="@string/app_name"></activity>
		<activity android:name="se.su.dsv.scipro.android.activity.PrivateMessageView" android:label="@string/app_name"></activity>
		<activity android:name="se.su.dsv.scipro.android.activity.PrivateMessages" android:label="@string/app_name"></activity>
    </application>
</manifest>